.radius-div {
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.centered {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.img-opacity {
    opacity:0.6;
    filter:alpha(opacity=40); /* 针对 IE8 以及更早的版本 */
}

.loading-trans {
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.8);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

#enterHotSpotTip {
    width:100%;
    position: absolute;
    text-align:center;
    pointer-events:none;
    padding: 0;
    margin: 0;
    visibility: hidden;
}

#switchToOverviewDiv {
    width:100%;
    height:100%;
    position: absolute;
    pointer-events:none;
    visibility: hidden;
}

.controller {
    pointer-events:auto;
    width: 40px;
    height: 40px;
    margin: 5px;
}

#controlDiv {
    width:100%;
    height:100%;
    position: absolute;
    pointer-events:none;
    margin-right: 2px;
    text-align: right;
    visibility: hidden;
}

#welcome {
    background: #2d2e28;
    width:100%;
    height:100%;
    text-align: center;
    position: absolute;
    align-items:center;
    display:-webkit-flex;
    justify-content:center;
    pointer-events:none;
}

#switchVRButton {
    visibility: hidden;
}

#loading {
    visibility: hidden;
    font-size: 12px;
    width: 70px;
    margin: 5px;
    pointer-events: none;
}

#vrStartTip {
    visibility: hidden;
    font-size: 15px;
    padding: 0px 10px;
    margin: 10px;
}

#controlTip {
    visibility: hidden;
    font-size: 15px;
    padding: 0px 10px;
    margin: 10px;
    pointer-events: none;
}

body {
    padding: 0;
    margin:0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*防止左右滑动*/
#controller {
    overflow: hidden;
}