.thumbnail-caption {
    width:100%;
    bottom: .0rem;
    position: absolute;;
}

.thumbnail-caption span {
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

.thumbnail-selected {
    position: relative;
    cursor: pointer;
    border: 2px solid rgb(246, 182, 76);
    border-radius: 0px;
}

.thumbnail-unselected {
    position: relative;
    cursor: pointer;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 0px;
}

.text-overlay-bg-trans {
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.background-trans {
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.4);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

#thumbnail-controller {
    visibility: hidden;
    z-index: 99;
    position: absolute;
    padding: 1px 15px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
    overflow: hidden;
}

#thumbnail {
    margin: 0;
    padding: 4px;
}

#thumbnail-list {
    pointer-events: auto;
}

#thumbnail-control-button {
    pointer-events:auto;
    width: 40px;
    height: 40px;
    margin-left: -10px;
}

#thumbnail-name {
    font-size: 13px;
}